// Editor specific styles.
.ollie-mega-menu__layout-panel {
    .components-h-stack {
        .components-base-control,
		.components-toggle-group-control,
		.components-base-control__field {
            margin-bottom: 0;
        }
    }
    
    // When justification is disabled for wide/full width
    .block-editor-hooks__flex-layout-justification-controls.is-disabled {
        // Apply opacity to left and right options
        &> div:first-child,
        &> div:last-child {
            opacity: 0.5;
            cursor: not-allowed;
        }
    }
}

.ollie-mega-menu__layout-help {
	font-size: 12px;
	color: rgb(117, 117, 117);
	margin-top: 8px !important;
}

.ollie-menu-designer-guide {
	width: 800px;
	max-height: none !important;

	.components-modal__header .components-button:hover svg {
		fill: currentColor;
	}

	.components-guide__container {
		padding: 40px;
	}

	h2 + p {
		margin-top: 0;
	}

	.ollie-menu-designer-guide-video {
		position: relative;
		padding-bottom: 56.25%;
		height: 0;
		overflow: hidden;
		max-width: 100%;
		margin-top: 10px;
		border-radius: 8px;

		iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}

	.components-guide__page-control {
		order: 10;
		display: none;
	}

	.components-guide__footer {
		margin-bottom: 0;
		margin-top: 30px;
	}

	.components-guide__forward-button,
	.components-guide__finish-button {
		right: 0;
	}

	.components-guide__back-button {
		left: 0;
	}
}

.ollie-menu-designer-guide-buttons {
	margin-bottom: 16px;
	background: color-mix(in srgb, var(--wp-components-color-accent, var(--wp-admin-theme-color, #3858e9)) 4%, #0000);
	padding: 3px 0px 3px 10px;
	border-radius: 5px;

	button.components-button:first-child {
		padding-left: 0;
		gap: 8px;
		text-decoration: none;
		justify-content: start !important;

		&:hover {
			text-decoration: underline;
		}
	}
}
