// Front-end specific styles.
.wp-block-ollie-mega-menu__menu-container {
    height: auto;
    left: -1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    top: 40px;
    transition: opacity .1s linear;
    visibility: hidden;
    z-index: 2;

    &.menu-width-content {
        max-width: var(--wp--style--global--content-size);
        width: var(--wp--style--global--content-size);
    }

    &.menu-width-wide {
        max-width: var(--wp--style--global--wide-size);
        width: var(--wp--style--global--wide-size);
    }

    &.menu-width-full {
        max-width: 100vw;
        width: 100vw;
    }

    .menu-container__close-button {
        align-items: center;
        -webkit-backdrop-filter: blur(16px) saturate(180%);
        backdrop-filter: blur(16px) saturate(180%);
        background-color: #ffffffba;
        border: none;
        border-radius: 999999px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        opacity: 0;
        padding: 4px;
        position: absolute;
        right: 12px;
        text-align: center;
        top: 12px;
        transition: opacity .2s ease;
        z-index: 100;

        // Show the close button when focused (for keyboard navigation)
        &:focus {
            opacity: 1;
        }
    }

    // Show the close button when the mega menu is hovered.
    &:hover {
        .menu-container__close-button {
            opacity: 1;
        }
    }

    // This ensures navigation menu inside of mega menus display correctly.
    .is-responsive {
        display: flex;
    }
}

.wp-block-navigation__responsive-container.is-menu-open .wp-block-ollie-mega-menu:has(.wp-block-ollie-mega-menu__toggle[aria-expanded="true"]) .menu-container__close-button {
	opacity: 1;
	visibility: visible;
}

@media (min-width: 600px) {
	// Hide close button when using hover mode
	.wp-block-navigation-item[data-wp-context*='"showOnHover": true'] {
		.menu-container__close-button {
			display: none;
		}
	}
}

// Change the position of the menu depending on the menu alignment (override Navigation block).
.wp-block-navigation { 
    .wp-block-ollie-mega-menu__menu-container {
        &.menu-justified-left {
            left: -1px;
            right: unset;
        }

        &.menu-justified-right {
            left: unset;
            right: -1px;
        }

        &.menu-justified-center {
            right: unset;

            &.menu-width-content {
                left: calc( ( -1 * var(--wp--style--global--content-size) / 2 ) + 50% );
            }
        }
    }
}

// If there is a collapsed link, start hidden.
.wp-block-ollie-mega-menu__collapsed-link {
    display: none;
}

// If a navigation modal is open, check if the mega menu should be displayed.
.wp-block-navigation__responsive-container.is-menu-open {
    .wp-block-ollie-mega-menu {
        &.disable-menu-when-collapsed {
            &:not(.has-collapsed-link) {
                display: none;
            }
    
            .wp-block-ollie-mega-menu__collapsed-link {
                display: inherit;
            }
    
            .wp-block-ollie-mega-menu__toggle, 
            .wp-block-ollie-mega-menu__menu-container {
                display: none;
            }
        }
    }

	.wp-block-ollie-mega-menu__menu-container {
		position: fixed;
		top: 0;
		left: 0 !important;
		width: 100% !important;
		height: 100%;
		z-index: 100;
		opacity: 1;
	}
}
